#login {
    position: relative;
    height: 100%;
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: rgb(79, 79, 79);
}
#login .login__form {
    margin: 0 auto;
    padding: 1rem;
    max-width: 700px;
    border-radius: 25px;
    box-shadow: 5px 0px 10px #c4c4fb;
    background: linear-gradient(45deg, #c4c4fb, #ececec, #ececec, #c4c4fb);
}
.login-form {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1.5rem;
    flex-wrap: wrap;
}
.login-form .left img {
    max-width: 10rem;
}
#login .login__form div {
    font-weight: bold;
}
.inputBox input {
    border: none;
    border-radius: 12px;
    height: 2rem;
    padding-left: 0.5rem;
    box-shadow: 1px 1px 2px #c4c4fb;
}

.login-form .left {
    margin: auto 0;
}
.login-form .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usertype_options {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.usertype_options input {
    padding-right: 0.8rem;
    display: none;
}
.usertype_options .radioBox {
    border: 2px solid #c4c4fb;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 5px;
}
.usertype_options input[type="radio"] + label {
    cursor: pointer;
}
.usertype_options input[type="radio"]:checked + label {
    color: #30b4b6;
}
